* {
	font-family: 'Noto Sans Vithkuqi', sans-serif;
}

html {
	background-color:#000712;
}

h1 {
	font-family: 'Rajdhani', sans-serif;
	color:#2ed2ff;
	padding-left:1em;
	padding-right:1em;
}

a {
	color:#2ed2ffcc;
	transition: 0.3s;
}

a:hover {
	color:#2ed2ff;
}

th {
	color:#2ed2ff;
	text-align:left;
}

label {
	font-size:0.9em;
	color:#0057a8;
	margin-right:1em;
}
input {
	background-color:#2ed2ff22;
	border:none;
	padding:0.2em;
	color:#2ed2ffa0;
	border-radius:5px;
	margin-bottom:0.25em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    text-align:left;
  }
td {
	padding-right:1em;
	vertical-align: top;
	color:white;
}

#container {
	width:1000px;
	background-color:#000e24;
	margin:1em 10em 1em 10em;
	margin-right: auto;
 	margin-left: auto;
	border-image: linear-gradient(#2ed2ff90, #0057a890) 40;
	border-width: 2px;
	border-style: solid;
}

#blurb {
	padding:0.5em 3em 0.5em 3em;
	margin-left:1em;
	margin-right:1em;
	font-size:0.8em;
	color:#ddd;
	transition: 0.3s;
	border:1px solid #000e24;
}

#blurb:hover {
	color:#fff;
	background-color:#0057a820;
	border:1px solid #2ed2ff50;
}

#config {
	padding:0.5em 3em 0.5em 3em;
	margin-left:1em;
	margin-right:1em;
	text-align:center;
}

#plot {
	margin-top:1em;
	text-align:center;
	position:relative;
}

.tooltip {
	position:absolute;
	background-color:#2ed2ff22;
	border:1px solid #2ed2ff66;
	border-radius:5px;
	padding:5px;
	color:#ffffff;
	text-align:left;
	font-size:0.8em;
	backdrop-filter: blur(10px);
}

.tick text {
	fill: #0057a8;
}

.tick line {
	stroke: #0057a8;
	stroke-opacity:0.4;
}

.domain {
	display:none;
}

footer {
	color:#2ed2ff77;
	background-color:#2ed2ff10;
	padding:1em;
	font-size:0.8em;
}